@use '../../../styles/global' as *;

.aplly-filters {
    @include flex($justify:flex-start,$gap:.2em);
    overflow-x: scroll;
    margin-bottom: 1em;
    &::-webkit-scrollbar {
        width: 0;
    }
    &__item{
        padding: 0.43em 0.72em;
       
        @include flex($gap:.36em);
        border-radius: 10px;
        @include filterNames;
        
    }
    &__text{
        display: block;
        width: max-content;
        min-width: 38px;
        color: white;
        text-align: center;
        font-size: .79rem;
        font-weight: 600;
        line-height: normal;
        transition: all .3s;
    }
    &__btn{
        border: none;
        width: 16px;
        height: 16px;
        background: url('../../../assets/close.svg');
        background-size: cover;
    }
}

.filter {
    &__container{
        background-color: white;
        border-radius: 10px;
        width: 30%;
        height: 50%;
        // max-width: 30%;
        // max-height: 100%;
        padding: 1rem;
    }
    &__btn-container{
        @include flex($gap:.5rem);
    }
    &__reset-btn{
        display: block;
        background: white;
        color:$main-color;
        font-weight: 500;
        border: 1.5px solid $main-color;
        border-radius: 20px;
        padding: .5em .5em;
    }
    &__apply-btn{
        border: none;
        border-radius: 562px;
        background-color: $main-color;
        color: white;
        font-weight: 500;
        padding: .5em .5em;
    }
    &__button {
        @include flex($gap: .3em);
        border: none;
        background-color: transparent;
        color: #000;
        font-size: .9rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__arrow-icon {
        transition: transform .8s linear;

        &--active {
            transform: rotateX(180deg);
        }
    }
    
}