@use '../../../styles/global' as *;
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
// временно    padding-top: 12em;
   
   display: none;
    &__text {
        animation: loading 1.1s ease-in-out infinite;
        color:$main-color;
        font-size: 1.43rem;
        font-weight: 600;
        line-height: 24px;

    }

    &--active{
        @include flex($dir:column,$gap:1.9em);
    }
   
}
.circles{
    @include flex($gap:.3em);
    &__item{
        transition: all .4s;
        display: block;
        background-color: #E4DEFE;
        width: 8px;
        height: 8px;
        border-radius: 5px;
    }
    // бывшая анимация
    // &__item:nth-child(1){
    //     animation: circle 1s ease-in-out infinite,scaling 1s ease-in  infinite;
    // }
    // &__item:nth-child(2){
    //     animation: circle 1s ease-in-out 150ms infinite, scaling 1s ease-in 100ms infinite;
    // }
    // &__item:nth-child(3){
    //     animation: circle 1s ease-in-out 250ms infinite,scaling 1s ease-in 150ms infinite ;
    // }
    &__item:nth-child(1){
        animation: circleOne 1s ease-in-out infinite;
    }
    &__item:nth-child(2){
        
        background-color: $main-color;
        animation: circleTwo 2s cubic-bezier(0.45, 0.05, 0.55, 0.95)  infinite;
    }
    &__item:nth-child(3){
      
        animation: circleThree 1s ease-in-out infinite;
    }
   
}
@keyframes circleOne {
    from{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(10px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes circleTwo {
    from{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-15px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(15px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes circleThree {
    from{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-14px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes loading {
    0%{
        clip-path: inset(0px 14px 0px 0px);
    }
    50%{
        clip-path: inset(0px 9px 0px 0px);
    }
    70%{
        clip-path: inset(0px 4px 0px 0px);
    }
    100%{
        clip-path: inset(0px 0px 0px 0px);
    }
}

// @keyframes scaling {
//     from{
        
//         transform: scale(1);
//     }
//     to{
       
//         transform: scale(1.5);
//     }
// }
// @keyframes circle {
//     from{
//         background-color: #E4DEFE;
//     }
//     to{
//         background-color: $main-color;
        
//     }
// }



