@use '../../../styles/global' as *;



.header-container {
    box-shadow: 0px 1px 2px 1px rgba($color: #000000, $alpha: .1);
    z-index: 999;
    position: fixed;

    padding-top: .93em;
    padding-bottom: 1em;
    background: #F6F6F6;
    @include flex($justify: space-between);

    @include mediaMin($size: $device-M) {
        height: 75px;
        padding-top: 0;
        padding-bottom: 0;

    }
}

.header-buttons {
    @include flex($gap: 3.5em);
}

.nav {
    z-index: 1000;
    @include flex($gap: 2.8em);



    @include mediaMax($size: $device-M) {
        padding: .5em 1.2em 0 1.2em;
        @include flex($dir: column, $justify: flex-start, $gap: 1em, $align: flex-start);
        position: fixed;
        background-color: #F6F6F6;
        top: 0;
        left: -70%;
        width: 70vw;
        height: 100dvh;
        visibility: hidden;

        transition: visibility .45s linear, left .45s ease-out;
        box-shadow: 2px 0px 10px 7px rgba(0, 0, 0, 0.5);


    }

    &--active {
        visibility: visible;
        left: 0;
    }

}

.add-comics {


    font-weight: 600;
    text-decoration: none;
    font-size: clamp(1.143rem, 0.694vw + 0.762rem, 1.714rem);
    line-height: 29px;
    color: #7A5AF8;


}

.menu-link {
    color: #000000;
    text-decoration: none;
    font-size: clamp(1.143rem, 0.694vw + 0.762rem, 1.714rem);
    font-weight: 600;
    line-height: 29px;

    &--active {
        color: $main-color;
    }
}

.right-nav {
    z-index: 1000;
    @include flex($dir: column, $justify: flex-start, $gap: 1em, $align: flex-end);
    padding: .64em 1.2em 0 1.2em;
    position: fixed;
    background-color: #F6F6F6;
    top: 0;
    right: -70%;
    width: 70vw;
    height: 100dvh;
    visibility: hidden;

    transition: visibility .45s linear, right .45s ease-out;
    box-shadow: 2px 0px 10px 7px rgba(0, 0, 0, 0.5);


    @include mediaMin($size: $device-M) {
        display: none;
    }

    &--active {
        visibility: visible;
        right: 0;
    }
}

.signin-link {
    display: block;
    border: 1px solid #7A5AF8;
    color: #7A5AF8;
    border-radius: 3.1em;
    padding: .7em 1.75em;
    width: 100%;
    text-decoration: none;
    font-size: clamp(0.571rem, 0.75vw + 0.4rem, 1.429rem);
    font-weight: 500;
    line-height: 10px;

    @include mediaMin($size: $device-M) {
        display: none;
    }

}

.signin-btn {
    background: transparent;
    display: none;
    border: 1px solid #7A5AF8;
    color: #7A5AF8;
    border-radius: 3rem;
    padding: .7rem 2rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    @include mediaMin($size: $device-M) {
        display: block;
    }
}

.avatar {
    display: none;

    @include mediaMax($size: $device-M) {
        @include flex($gap: 1.2em);

        &__img {
            max-width: 100%;
            object-fit: cover;
        }

        &__name {
            color: $main-color;
            font-size: .86rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

}

.auth-btn {
    padding: 0;
    justify-self: start;
    color: #E54545;
    background: transparent;
    border: none;
    font-size: .86rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.right-menu-btn {
    background: transparent;
    border: none;
}

.line {
    background-color: #DFDFDF;
    display: inline-block;
    width: 100%;
    height: 2px;
    @include mediaMin($device-M){
        display: none;
    }
}

.logo-mobile{
    @include mediaMin($device-M){
        display: none;
    }
}