@use '../../styles/global' as *;

.image-section {
    background: #FFFFFF;
    margin-bottom: 1.1em;
    padding-top: 5.5em;
    padding-bottom: 1.5em;
    overflow: hidden;
    @include flex($wrap: nowrap, $gap: .4em);

    @include mediaMin($device-M) {
        padding-top: 5.3em;
        gap: 1.75em;
        padding-left: 5em;
        padding-right: 5em;
    }
}

.image-container {

    @include flex($justify: space-between);
    padding-top: 4.5em;

    @include mediaMin($size: $device-M) {
        padding-top: 15.2em;
        align-self: flex-start;

    }



    &__text-container {
        @include flex($align: center, $dir: column);

        @include mediaMin($size: $device-M) {
            align-items: flex-start;

        }
    }

    &__slogan {
        color: $black-color;
        font-size: clamp(1.43rem, 1rem + 1.6vw, 3.42rem);
        font-weight: 600;
        line-height: normal;
        margin-bottom: .2em;
        text-align: center;

        @include mediaMin($size: $device-M) {
            text-align: start;
            max-width: 527px;
            margin-bottom: .4em;
        }
    }

    &__text {
        text-align: center;
        font-size: clamp(.86rem, .685rem + .75vw, 1.71rem);
        font-weight: 500;
        line-height: 20px;
        margin-bottom: .7em;
        text-wrap: balance;

        @include mediaMin($size: $device-M) {
            text-align: start;
            margin-bottom: 1.7em;

        }
    }

    &__btn {
        @include mediaMin($size: $device-M) {
            margin: 0 0;
        }
    }



}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(73px, 1fr) minmax(72px, 1fr) repeat(1, minmax(40px, 1fr));
    gap: .2em;
    width: 100%;

    @include mediaMin($device-M) {
        display: none;
    }

    &__item {
        min-height: 32px;
        height: 100%;
        background-color: #E8E8E8;
        border-radius: 10px;
        max-width: 100%;


    }

    &__item:nth-child(1) {
        max-width: 120px;
        width: 100%;
        justify-self: center;
        grid-column: span 2;
    }

    &__item:nth-child(2) {
        min-width: 72px;
    }

    &__item:nth-child(3) {
        min-width: 72px;
    }

    &__item:nth-child(4) {
        grid-column: span 2;
        width: 100%;
        max-width: 94px;
        justify-self: center;
    }
}

.cards-pc {
    display: none;

    grid-template-columns: 0.5fr 0.5fr 0.8fr 0.5fr 1fr;
    grid-template-rows: minmax(190px, 1.1fr) 1fr .9fr;
    align-items: end;
    gap: .71em;
    width: 100%;

    @include mediaMin($device-M) {
        display: grid;
    }

    &__item {
        min-height: 128px;
        min-width: 120px;
        height: 100%;
        background-color: #E8E8E8;
        border-radius: 15px;
        max-width: 100%;
    }

    &__item:nth-child(1) {
        justify-self: end;
        max-width: 159px;
        height: 128px;
        width: 100%;

    }

    &__item:nth-child(2) {
        justify-self: end;
        max-width: 186px;
        height: 190px;
        width: 100%;
    }

    &__item:nth-child(3) {
        position: relative;
        top: 55px;
        grid-column: 3/5;
        max-width: 507px;
        height: 247px;
        width: 100%;
        grid-row: 1;
    }

    &__item:nth-child(4) {
        position: relative;
        top: 55px;
        max-width: 156px;
        height: 128px;
        width: 100%;
    }

    &__item:nth-child(5) {
        align-self: start;
        grid-row: 2/4;
        justify-self: end;
        grid-column: span 2;
        max-width: 305px;
        height: 412px;
        width: 85%;
    }

    // &__item:nth-child(6) {
    //     align-self: start;
    //     grid-column: 3/4;
    //     grid-row: 3;
    //     max-width: 230px;
    //     height: 154px;
    //     width: 100%;
    // }

    // &__item:nth-child(7) {
    //     grid-column: 4/6;
    //     grid-row: 3;
    //     align-self: start;
    //     justify-self: start;
    //     max-width: 305px;
    //     height: 124px;
    //     width: 100%;
    // }
}

.cards-subgrid {
    position: relative;
    top: 55px;
    grid-column: span 4;
    grid-row: 2;
    @include flex($gap: 10px, $justify: flex-start);

    &__item {
        background-color: #E8E8E8;
        border-radius: 15px;
        min-height: 128px;

    }

    &__item:nth-child(1) {
        flex: 1 0 120px;
        max-width: 151px;
        height: 243px;
        width: 100%;
    }

    &__item:nth-child(2) {
        flex: 1 0 130px;
        max-width: 507px;
        height: 243px;
        width: 100%;
    }
}

.cards-subgrid-bottom {
    position: relative;
    top: 55px;
    align-self: start;
    grid-column: span 4;
    grid-row: 3;
    @include flex($gap: 10px, $justify: flex-start);

    &__item {
        background-color: #E8E8E8;
        border-radius: 15px;
        min-height: 128px;

    }



    &__item:nth-child(1) {
        flex: 1 0 100px;
        align-self: start;
        grid-column: 3/4;
        grid-row: 3;
        max-width: 230px;
        height: 154px;
        width: 100%;
    }

    &__item:nth-child(2) {
        grid-column: 4/6;
        grid-row: 3;
        align-self: start;
        justify-self: start;
        max-width: 305px;
        height: 124px;
        width: 100%;
    }
}

.popular-section {
    margin-bottom: 1em;
}

.popular-container {
    padding-top: .78em;
    padding-bottom: 1.43em;

    background: #FFFFFF;

    &__link {
        margin: 0 0 .9em;
    }
}

.popular-cards {

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    &>* {
        scroll-snap-align: start;
    }

    @include flex($gap: .71em, $justify: flex-start);
}

.novelty-section {

    margin-bottom: 1.9em;
}

.novelty-container {
    padding-top: .78em;
    padding-bottom: 1.43em;

    background: #FFFFFF;

    &__link {
        margin: 0 0 .9em;
    }


}

.novelty-cards {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    @include flex($gap: .71em, $justify: flex-start);

    &>* {
        scroll-snap-align: start;
    }
}

.genre-section {

    margin-bottom: 3em;
}

.genre-container {


    &__link {
        margin: 0 0 .9em 1.1em;
    }
}

.genres {
    padding: .0.9375em;
    @include flex($gap: .72em, $justify: flex-start);
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
    }
}



.slider-container__link {
    margin-bottom: .9em;

    @include mediaMin($device-M){
        margin-bottom: 2em;
    }
}

.articles {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    @include flex($gap: 1em, $justify: flex-start);

    &__item {

        min-width: 140px;
        max-width: 348px;
        width: 100%;
        border-radius: 10px;
        padding: 1.1em 1.5em .8em 1.1em;
        background: #FFFFFF;
        @include flex($dir: column,$justify:space-between);
        height: clamp(100px, 100px + 8vw, 390px);
        scroll-snap-align: start;

        @include mediaMin($size:$device-M){
            padding: 2.7em 3.5em 3em;
        }

       
    }

    &__container-text{
        align-self: flex-start;
        margin-bottom: 2.1em;
    }

    &__header {
        align-self: flex-start;
        font-size: .8rem;
        font-weight: 500;
        line-height: 12px;
        color: #2D283E;
        margin-bottom: .3em;
    }

    &__short {
        align-self: flex-start;
        font-size: .68rem;
        font-weight: 500;
        line-height: 10px;
     
    }

    &__link {
        min-width: 100px;
        width: 100%;
        text-align: center;
        display: block;
        padding: .5em 1em;
        border: 0.89px solid #7A5AF8;
        color: $primary-color;
        border-radius: 10px;
        text-decoration: none;
        font-size: .7rem;
        font-weight: 500;
        line-height: 10px;

       


    }
}

.cards-comics {
    width: clamp(90px, 12vw, 182px);
    height: clamp(115px, 22vh, 219px);
}