@use '../../styles/global' as *;

.image-section {
    background: #FFFFFF;
    margin-bottom: 1.1em;
    padding-top: 1.3em;
    padding-bottom: 1.5em;
    overflow: hidden;
    @include flex($wrap: nowrap,$gap:.4em);
}

.image-container {

    @include flex($justify: space-between);
    padding-top: 1.5rem;

    &__text-container {
        padding-top: 1.36rem;
    }

    &__slogan {
        color: $black-color;
        font-size: 1.43rem;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: .2em;
        text-align: center;

    }

    &__text {
        text-align: center;
        font-size: .86rem;
        font-weight: 500;
        line-height: 15px;
        margin-bottom: .7em;



    }


}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(73px, 1fr) minmax(72px, 1fr) repeat(1, minmax(40px, 1fr));
    gap: .2em;
    width: 100%;

    &__item {
        min-height: 32px;
        height: 100%;
        background-color: #E8E8E8;
        border-radius: 10px;
        max-width: 100%;

       
    }
    
    &__item:nth-child(1) {
        max-width: 120px;
        width: 100%;
        justify-self: center;
        grid-column: span 2;
    }

    &__item:nth-child(2) {
        min-width: 72px;
    }

    &__item:nth-child(3) {
        min-width: 72px;
    }

    &__item:nth-child(4) {
        grid-column: span 2;
        width: 100%;
        max-width: 94px;
        justify-self: center;
    }
}

.popular-section {
    margin-bottom: 1em;
}

.popular-container {
    padding-top: .78em;
    padding-bottom: 1.43em;

    background: #FFFFFF;

    &__link {
        margin: 0 0 .9em;
    }
}

.popular-cards {
    overflow: hidden;
    @include flex($gap: .71em,$justify:flex-start);
}

.novelty-section {

    margin-bottom: 1.9em;
}

.novelty-container {
    padding-top: .78em;
    padding-bottom: 1.43em;

    background: #FFFFFF;

    &__link {
        margin: 0 0 .9em;
    }
}

.novelty-cards {
    overflow: hidden;
    @include flex($gap: .71em);
}

.genre-section {

    margin-bottom: 3em;
}

.genre-container {


    &__link {
        margin: 0 0 .9em 1.1em;
    }
}

.genres {
    padding: .0.9375em;
    @include flex($gap: .72em,$justify:flex-start);
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 0;
    }
}



.slider-container__link {
    margin: 0 0 .9em;
}

.articles {
    @include flex($gap: 1em);

    &__item {
        width: 100%;
        border-radius: 10px;
        padding: 1.1em 1.5em .8em 1.1em;
        background: #FFFFFF;
        @include flex($dir: column);
    }

    &__header {
        align-self: flex-start;
        font-size: .8rem;
        font-weight: 500;
        line-height: 12px;
        color: #2D283E;
        margin-bottom: .3em;
    }

    &__short {
        align-self: flex-start;
        font-size: .68rem;
        font-weight: 500;
        line-height: 10px;
        margin-bottom: 3em;
    }

    &__link {
        width: 100%;
        text-align: center;
        display: block;
        padding: .5em 1em;
        border: 0.89px solid #7A5AF8;
        color:$primary-color;
        border-radius: 10px;
        text-decoration: none;
        font-size: .7rem;
        font-weight: 500;
        line-height: 10px;


    }
}

.cards-comics{
    width: clamp(90px,12vw,182px);
    height: clamp(115px,22vh,219px);
}