.badge {
    display: inline-block;
    padding: .7em .9em;
    border-radius: 13px;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    line-height: 13px;
    
    color: #2D283E;
    background:  #FFFFFF;
    

}