@use '../../styles/global' as *;

.profile-header {
    background: white;
    margin-bottom: 1.1em;
}

.profile {
    &__container {
        @include flex($dir: column);
    }

    &__img {
        position: relative;
        top: 50px;
        width: 85px;
        height: 85px;
        border: 6px solid white;
        border-radius: 200px;
    }

    &__wallpaper {
        display: flex;
        justify-content: center;
        align-items: end;
        min-height: 155px;
        height: 100%;
        background-image: url('./../../../public/profile-wallpaper.svg');
        background-position: center;
        background-size: cover;
        border: 1px solid transparent;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 6.1em;
    }

    &__name {
        color: #2D283E;
        font-size: 1.43rem;
        font-weight: 600;
        margin-bottom: .3em;

    }

    &__status {
        color: #2D283E;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: .8em;

    }

    &__details {
        color: $main-color;
        font-size: .72rem;
        font-weight: 600;
        @include flex($gap: .5em, $align: end);
        line-height: normal;

        margin-bottom: 2.5em;
    }

    &__stats {
        margin-bottom: 1.9em;
    }
}

.tabs {
    background-color: white;

    &__container {
        padding-top: 1em;
    }

    &__items {
        margin-bottom: 2em;
    }

    &__public-btn {
        display: block;
        margin:0 auto;
        border: 1px solid #7A5AF8;
        border-radius: 560px;
        color:#7A5AF8;
        background: transparent;
        font-size: .78rem;
        font-weight: 500;
        line-height: normal;
        padding: .5em 4.7em;
    }
}