@use '../../styles/global' as *;

.login {
    background:white;
    &__container {
        @include flex($dir: column);
        padding-top: 1em;
    }

    &__head {
        font-size: 1.43rem;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        margin-bottom: .1em;

    }

    &__backLink {
        align-self: flex-start;
        margin-bottom: 2em;
    }

    &__logo {
        margin-bottom: 1em;
    }

    &__with-social {
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        margin-bottom: 1em;
    }

    &__social {
        margin-bottom: .86em;
    }

    &__or {
        font-weight: 400;
        line-height: 17px;
        margin-bottom: .8em;
    }

    &__fieldset {
        @include flex($dir: column, $align: flex-start);
        margin-bottom: 1.9em;
    }

    &__fieldset-password {
        @include flex($dir: column, $align: flex-start);
    }

    &__input {
        @include focus($outline: 1px solid #6c697a);
        border: none;
        border-radius: 2em;
        padding: .5em 2em;
        font-size: .87rem;
        min-width: 17.5em;
        font-weight: 600;
        line-height: 15px;
        background-color: #F2EFFE;
        margin-bottom: 1.5em;

        &::placeholder {
            font-size: .86em;
            font-weight: 600;
            line-height: 15px;
        }

        &--marginNo {
            margin: 0;
        }

        &--error {
            background:#E545451A;
            color:#e54545;
          
            
        }

        &--success {
            background: #0f99181a;
            color: #0f9918;
          
        }
    }

    &__label {
        margin-bottom: .4em;
        font-weight: 500;
        line-height: 17px;
    }

    &__next {
        display: block;
        background: transparent;
        color: $main-color;
        margin: 0 auto;
        border: 1px solid $main-color;
        border-radius: 2em;
        padding: .63em 2.5em;
        font-size: .79rem;
        font-weight: 500;
        line-height: 13px;
        margin-bottom: 2.3em;
    }

    &__signin-btn {
        display: block;
        border: 1px solid $main-color;
        background-color: white;
        color: $main-color;
        padding: .7em 1.6em;
        margin: 0 auto 2.4em;
        border-radius: 2em;
        font-size: .79rem;
        font-weight: 500;
        line-height: 13px;
        
    }

    &__signin {

        font-size: .79rem;
        font-weight: 500;
        line-height: 13px;
        margin-bottom: 2em;

    }

    &__link {

        font-size: .79rem;
        font-weight: 400;
        line-height: 13px;
        text-decoration: none;
        text-align: center;
    }

    &__error {
        margin: .4em 0;
        font-size: 1.1em;
        color: red;
    }

    &__password-container {
        position: relative;
    }

    &__visibility {
        position: absolute;
        top: 6px;
        right: 10px;
        background: none;
        border: none;
        padding: 0;
        width: 20px;
        height: 20px;
    }
}