.card {
    &__img {
        position: relative;
        border-radius: 10px;
        width: clamp(6.429em, 5.114em + 5.75vw, 13em);
        height: clamp(8.214em, 6.729em + 6.2vw, 15.643em);
        background: #E8E8E8;
        margin-bottom: .4em;
    }

    &__text {
        color: #2D283E;
        font-weight: 500;
        line-height: normal;
        font-size: clamp(1rem, .92rem + .25vw, 1.28rem);
    }

    &__like {
        cursor: pointer;
        position: absolute;
        top: 7%;
        right: 6%;
        transition: all .3s;
        fill: white;
        transform: scale(1);

        &>path {
            fill: inherit;
            transition: all .2s;
        }

        &--liked {
            fill: red;
            animation: like .3s ease-in-out 1 forwards;

            @keyframes like {
                0% {
                    transform: scale(0.5);
                }

                100% {
                    transform: scale(1.3);
                }
            }
        }
    }

}